@page "/sleeprecords/create"
@using BabyData.Components.Account
@using Microsoft.EntityFrameworkCore
@using BabyData.Data
@inject IDbContextFactory<BabyData.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager
@inject IUserIdentityProcessor UserIdentityProcessor
@rendermode @(new InteractiveServerRenderMode(false))

<PageTitle>Create</PageTitle>

<h3>New Sleep Record</h3>
<hr />
<div class="d-flex row">
    <div class="d-flex col-4 w-100">
        <EditForm method="post" Model="SleepRecord" OnValidSubmit="AddRecord" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/> 
            <div class="mb-3">
                <label for="starttime" class="form-label">StartTime:</label> 
                <InputDate Type="InputDateType.DateTimeLocal" id="starttime" @bind-Value="SleepRecord.LocalDateTimes.StartTimeLocal" class="form-control" />
                <ValidationMessage For="() => SleepRecord.StartTimeUtc" class="text-danger" /> 
            </div>
            <div class="btn-group mb-2" role="group" aria-label="StartTime Adjustments">
                <button class="btn btn-outline-secondary" type="button" @onclick="() => SleepRecord.LocalDateTimes.NudgeStartTime(-1)">-1min</button>
                <button class="btn btn-outline-secondary" type="button" @onclick="() => SleepRecord.LocalDateTimes.NudgeStartTime(-5)">-5min</button>
                <button class="btn btn-outline-secondary" type="button" @onclick="() => SleepRecord.LocalDateTimes.NudgeStartTime(-30)">-30min</button>
                <button class="btn btn-outline-secondary" type="button" @onclick="() => SleepRecord.LocalDateTimes.NudgeStartTime(1)">+1min</button>
                <button class="btn btn-outline-secondary" type="button" @onclick="() => SleepRecord.LocalDateTimes.NudgeStartTime(5)">+5min</button>
                <button class="btn btn-outline-secondary" type="button" @onclick="() => SleepRecord.LocalDateTimes.NudgeStartTime(30)">+30min</button>
            </div>
            <div class="mb-3">
                <label for="endtime" class="form-label">EndTime:</label> 
                <InputDate Type="InputDateType.DateTimeLocal" id="endtime" @bind-Value="SleepRecord.LocalDateTimes.EndTimeLocal" class="form-control" />
                <ValidationMessage For="() => SleepRecord.EndTimeUtc" class="text-danger" /> 
            </div>
            <div class="btn-group mb-2" role="group" aria-label="EndTime Adjustments">
                <button class="btn btn-outline-secondary" type="button" @onclick="() => SleepRecord.LocalDateTimes.NudgeEndTime(-1)">-1min</button>
                <button class="btn btn-outline-secondary" type="button" @onclick="() => SleepRecord.LocalDateTimes.NudgeEndTime(-5)">-5min</button>
                <button class="btn btn-outline-secondary" type="button" @onclick="() => SleepRecord.LocalDateTimes.NudgeEndTime(-30)">-30min</button>
                <button class="btn btn-outline-secondary" type="button" @onclick="() => SleepRecord.LocalDateTimes.NudgeEndTime(1)">+1min</button>
                <button class="btn btn-outline-secondary" type="button" @onclick="() => SleepRecord.LocalDateTimes.NudgeEndTime(5)">+5min</button>
                <button class="btn btn-outline-secondary" type="button" @onclick="() => SleepRecord.LocalDateTimes.NudgeEndTime(30)">+30min</button>
            </div>
            <div>
                <p>Total Time: @SleepRecord.LocalDateTimes.ElapsedTime.ToString()</p>
            </div>
            <div class="mb-3">
                <label for="notes" class="form-label">Notes:</label> 
                <InputTextArea id="notes" @bind-Value="SleepRecord.Notes" class="form-control" /> 
                <ValidationMessage For="() => SleepRecord.Notes" class="text-danger" /> 
            </div>
            <a class="btn btn-warning" href="/sleeprecords">Back to List</a>
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

@code {
    [SupplyParameterFromForm]
    private SleepRecord SleepRecord { get; set; } = default!;

    [SupplyParameterFromQuery]
    private Guid BabyId { get; set; }
    private TimeZoneInfo timeZoneInfo => TimeZoneInfo.FindSystemTimeZoneById("Eastern Standard Time");

    protected override async Task OnInitializedAsync()
    {
        SleepRecord ??= new SleepRecord();
        SleepRecord.BabyId = BabyId;
        SleepRecord.SetTimeLocalFromUtc(timeZoneInfo);

        var userId = await UserIdentityProcessor.GetCurrentUserId();
        if (userId == null)
        {
            NavigationManager.NavigateTo("notfound");
        }
        else
        {
            SleepRecord.UserId = userId.Value;
        }

    }

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddRecord()
    {
        SleepRecord.SetTimeUtcFromLocal(timeZoneInfo);

        using var context = DbFactory.CreateDbContext();
        context.SleepRecords.Add(SleepRecord);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/sleeprecords");
    }
}
