@page "/sleeprecords/edit"
@using Microsoft.EntityFrameworkCore
@using BabyData.Data
@inject IDbContextFactory<BabyData.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager
@rendermode @(new InteractiveServerRenderMode(false))

<PageTitle>Edit Sleep Record</PageTitle>

<h1>Edit</h1>

<h2>Sleep Record</h2>
<hr />
@if (SleepRecord is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col">
            <EditForm method="post" Model="SleepRecord" OnValidSubmit="UpdateRecord" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="FeedingRecord.Id" value="@SleepRecord.Id" />
                <input type="hidden" name="FeedingRecord.UserId" value="@SleepRecord.UserId" />
                <input type="hidden" name="FeedingRecord.BabyId" value="@SleepRecord.BabyId" />
                <TimeAdjustComponent UtcAndLocalDateTimeRecord="SleepRecord" />
                <div class="mb-3">
                    <label for="notes" class="form-label">Notes:</label>
                    <InputTextArea id="notes" @bind-Value="SleepRecord.Notes" class="form-control" />
                    <ValidationMessage For="() => SleepRecord.Notes" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-outline-primary">Save</button>
                <a class="btn btn-outline-primary float-end" href="/feedingrecords">Back to List</a>

            </EditForm>
        </div>
    </div>
}



@code {
    [SupplyParameterFromQuery]
    private Guid Id { get; set; }

    private TimeZoneInfo timeZoneInfo => TimeZoneInfo.FindSystemTimeZoneById("Eastern Standard Time");

    [SupplyParameterFromForm]
    private SleepRecord? SleepRecord { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        SleepRecord ??= await context.SleepRecords.FirstOrDefaultAsync(m => m.Id == Id);
        SleepRecord?.SetTimeLocalFromUtc(timeZoneInfo);


        if (SleepRecord is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateRecord()
    {
        SleepRecord?.SetTimeUtcFromLocal(timeZoneInfo);

        using var context = DbFactory.CreateDbContext();
        context.Attach(SleepRecord!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!RecordExists(SleepRecord!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/sleeprecords");
    }

    private bool RecordExists(Guid id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.SleepRecords.Any(e => e.Id == id);
    }

}
