@page "/"

@using BabyData.Components.Account
@using ApexCharts
@using BabyData.Data
@using Microsoft.EntityFrameworkCore

@inject IUserIdentityProcessor UserIdentityProcessor
@inject IDbContextFactory<BabyData.Data.ApplicationDbContext> DbFactory

@rendermode InteractiveServer



<PageTitle>Home</PageTitle>

<h1>Hello @UserName</h1>
<div style="width:50rem">
    <ApexChart TItem="FeedingRecord"
               Title="Time Spent Feeding Today">
        <ApexPointSeries TItem="FeedingRecord"
                         Items="FeedingRecords"
                         Name="Time Spendt Feeding"
                         SeriesType="SeriesType.Bar"
                         XValue="e => e.StartTime"
                         YValue="e=> (decimal)e.ElapsedTime.TotalMinutes" />
    </ApexChart>
</div>


@code {
    private string UserName { get; set; } = default!;
    private ApplicationDbContext context = default!;


    private List<FeedingRecord> FeedingRecords = new();

    protected override async Task OnInitializedAsync()
    {
        UserName = await UserIdentityProcessor.GetCurrentUserName() ?? "Opps";

        var userId = await UserIdentityProcessor.GetCurrentUserId();

        var today = DateOnly.FromDateTime(DateTime.Now);

        context = await DbFactory.CreateDbContextAsync();
        FeedingRecords = await context.FeedingRecords.Where(x => x.UserId.ToString() == userId && x.Date == today).ToListAsync();
        var elaspsedTest = FeedingRecords.Select(x => x.ElapsedTime).ToList();
    }
}