@using BabyData.Data

@attribute [StreamRendering]
@rendermode @(new InteractiveServerRenderMode(false))

<div class="mb-3">
    <InputSelect id="babySelect" @bind-Value="SelectedBabyId" @bind-Value:after="HandleValueChanged" class="form-select form-select-sm w-auto">
        @if (Babies is null)
        {
            <option> Loading</option>
        }
        else
        {
            @foreach (var option in Babies)
            {
                <option value="@option.Id">@option.Name</option>
            }
        }
    </InputSelect>
</div>

@code {
    [Parameter]
    public List<Baby> Babies { get; set; } = new();

    [Parameter]
    public Guid? SelectedBabyId { get; set; }

    [Parameter]
    public EventCallback<Baby> OnValueChanged { get; set; }

    private async Task HandleValueChanged()
    {
        await OnValueChanged.InvokeAsync(Babies.Single(x => x.Id == SelectedBabyId));
    }

}
